<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yum.kfc.brand.bmh1506.dao.Bmh1506DrawMapper">

	<select id="queryDrawTimesByIp" resultType="Long">
	  SELECT count(*) FROM bmh1506_draw where ipAddr=#{ipAddr} and drawTime between #{fromTime} and #{toTime}
    </select>
    
	<select id="queryDrawTimesByUser" resultType="Long">
	  SELECT count(*) FROM bmh1506_draw
	   where userId=#{userId} and channelType=#{channelType} and drawTime between #{fromTime} and #{toTime}
    </select>
    
    <select id="queryIsUserWon" resultType="Long">
		select count(*) from bmh1506_draw where userId=#{userId} and channelType=#{channelType} and winAward=1
	</select>
	
    <select id="queryIsWonWatch" resultType="Long">
		select count(*) from bmh1506_draw where userId=#{userId} and channelType=#{channelType} and awardType=#{awardType} and winAward=1
	</select>
	
	<update id="saveWinAward" parameterType="com.yum.kfc.brand.bmh1506.pojo.Bmh1506Draw">
	   update bmh1506_draw set phone=#{phone} where userId=#{userId} and channelType=#{channelType} and winAward=1 
    </update>
    
    <insert id="insertDraw" parameterType="com.yum.kfc.brand.bmh1506.pojo.Bmh1506Draw">
    	INSERT INTO bmh1506_draw
    		([id],[userId],[openId],[channelType],[deviceType],[winAward],[awardType],[awardCodeId],[ipAddr],[drawTime])
     	VALUES
     		 (#{id},#{userId},#{openId},#{channelType},#{deviceType},#{winAward},#{awardType},#{awardCodeId},#{ipAddr},#{drawTime})
    </insert>
    
    <select id="queryWinPhoneCount" resultType="Long">
	  	SELECT count(*) FROM bmh1506_draw where phone=#{phone} and winAward=1
    </select>
    
    <select id="queryUserWriteCount" resultType="Long">
	  	SELECT count(*) FROM bmh1506_draw where userId=#{userId} and phone is not null
	</select>
    
    <select id="queryWinAwardPersons" resultType="String">
	  	SELECT name FROM bmh1506_draw where winAward=1 order by drawTime
    </select>
    
    <select id="queryWinAwardNotPhones" resultType="com.yum.kfc.brand.bmh1506.pojo.Bmh1506Draw">
	  	SELECT * FROM bmh1506_draw where winAward=1 and phone is null
    </select>
    
</mapper>