@charset "utf-8";
/* CSS Document */

.swiper-container {
	margin:0 auto;
	width:100%;
	height:100%;
}
.swiper-slide {
    float: left;
	width:100%;
	overflow: hidden;
}
.swiper-slide  div {
	display: block;
	position: relative;
}
.swiper-slide  div img{width:100%;}

.displayscreen .prev, .displayscreen .next {
	position: absolute;
	height: 44px;
	width: 22px;
	top: 42%;
}

.displayscreen .prev {
	background: url(../../images/wxdgb1508/arrow_left.png) no-repeat;
	left: 5px;
	background-size: 22px 44px;
}
.displayscreen .next {
	background: url(../../images/wxdgb1508/arrow_right.png) no-repeat;
	right: 5px;
	background-size: 22px 44px;
}

