@charset "utf-8";
#loading {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    z-index: 99;
    font-size: 0.875em;
    left: 0;
    height: 30px;
    margin: -15px 0 0 0px;
}
.page {
	background: url(../../images/wxdgb1508/bg.jpg) no-repeat center top;
	background-size: cover;
}

.topline{
	position:absolute;
	left:0px;
	top:0px;
	padding-top:8px;
	display:none;
	z-index:8;
	width: 100%;
}

.topline .logo{
	margin-left:2.2%;
	width:20.6%;
}

.topline .rulelink{
	float:right;
	font-size:1em;
	color:#ffffff;
	text-decoration:underline;
	margin-right:3.4%;
	margin-top:2px;
	letter-spacing:1px;
}


/* page home1*/
.activityname{
	width:62.3%;
	text-align:center;
	margin:6px auto;
}

.activityname img{
	width:100%;
}

.subtitle{
	width:100%;
	font-size:0.9em;
	text-align:center;
	margin:5px auto;
	margin-bottom:15px;
	color:#a2e7ff;
	text-shadow: 1px 1px 1px #08ade5,-1px -1px 1px #08ade5;
	letter-spacing:3px;
}

.screendevice{
	margin:0 auto;
	width:96%;
}

/*.screendevice li{
	float:left;
}

.screendevice .arrow_left{
	margin-right:2.5%;
}

.screendevice .arrow_left img, .screendevice .arrow_right img{
	width:22px;
}

.screendevice .arrow_right{
	margin:auto 0px;
	margin-left:2.5%;
}
*/
.displayscreen{
	width:295px;
	height:274px;
	background:url(../../images/wxdgb1508/pic_screen.png) no-repeat center top;
	background-size:cover;
	margin:0 auto;
}

/*
.screendevice .arrow_left, .screendevice .arrow_right{
	margin-top:23%;
}*/

.displayscreen .fontsdiv1{
	width:222px;
	height:159px;
	margin:8px auto 0px auto;
	text-align:center;
}

.displayscreen .fontsdiv1 .font_example{
	width:180px;
	margin-top:12px;
}

.font_face{
	width:190px;
}

.font_ring{
	width:55% !important;
}

.displayscreen .fontsdiv1 img.font_example{
	vertical-align:middle;
}

.subjectdiv{
	width:219px;
	line-height:15px;
	margin:0 auto;
	text-align:center;
	font-size:0.6em;
	word-wrap:break-word;
	word-break:break-all;
	color:#a2e7ff;
	text-shadow: 1px 1px 1px #08ade5,-1px -1px 1px #08ade5;
	letter-spacing:5px;
}

.displayscreen2 .btdiv2{
	overflow:hidden;
	padding-top:27px;
	width:100%;
}

.btdiv{
	overflow:hidden;
	width:100%;
	position:absolute;
	bottom:10px;
	left:0px;
}



.displayscreen .btdiv .bt_preview, .displayscreen .btdiv .bt_send, .displayscreen2 .btdiv2 .bt_preview, .displayscreen2 .btdiv2 .bt_send{
	float:left;
	display:block;
	width:52px;
	height:52px;
	line-height:52px;
	font-size:1.1em;
	text-align:center;
	vertical-align:middle;
	color:#a2e7ff;
	text-shadow: 1px 1px 1px #08ade5,-1px -1px 1px #08ade5;
	letter-spacing:5px;
	-moz-border-radius:26px;
 	-webkit-border-radius:26px;
 	border-radius:26px;
}

.displayscreen .btdiv .bt_preview{
	margin-left:24%;
}

.displayscreen2 .btdiv2 .bt_preview{
	margin-left:25%;
}

.displayscreen .btdiv .bt_send{
	margin-left:16%;
}

.displayscreen2 .btdiv2 .bt_send{
	margin-left:15%;
}

.writebox{
	padding-top:8px;
	width:100%;
	text-align:center;
	position:relative;
}

.writebox img{
	width:166px;
}

.writebox_words{
	position:absolute;
	display:block;
	width:166px;
	line-height: 30px;
	text-align:center;
	top:34px;
	left: 28%;
	font-size:1em;
	color:#a2e7ff;
	text-shadow: 1px 1px 1px #08ade5,-1px -1px 1px #08ade5;
	letter-spacing:2px;
}



/* page home2*/
.pagehome2{
	background: url(../../images/wxdgb1508/bg2.jpg) no-repeat center top;
	background-size: cover;
}

.displayscreen2{
	width:295px;
	height:226px;
	background:url(../../images/wxdgb1508/pic_screen2.png) no-repeat center top;
	background-size:cover;
	margin:0 auto;
}

.displayscreen2 .fontsdiv2{
	width:222px;
	height:136px;
	margin:0 auto;
	padding-top:13px;
}

.displayscreen2 .fontsdiv2  textarea{
	width:100%;
	height:100%;
	border:none;
	background:transparent;
	font-size:1.1em;
	color:#a2e7ff;
	text-shadow: 1px 1px 1px #08ade5,-1px -1px 1px #08ade5;
	letter-spacing:1px;
	padding-top:2px;
	line-height:16px;
}

.displayscreen2 .fontsdiv2 img{
	width:27px;
	margin-top:12px;
	margin-right:5px;
}

.writebox2{
	padding-top:12px;
	width:100%;
	position:relative;
	text-align:center;
}

.writebox2 img{
	width:166px;
}

.writebox2 .writebox_words{
	top:37px;
}

.writebox2_tip{
	position:absolute;
	display:block;
	text-align:left;
	left: 22%;
    top: 87px;
	color:#a2e7ff;
	font-size:0.8em;
}


/* page show*/
.pageshow{
	background: url(../../images/wxdgb1508/bg_preview.jpg) no-repeat center top;
	background-size: cover;
}

.showtitle{
	width:100%;
	font-size:1.125em;
	text-align:center;
	line-height:24px;
	margin:-30px auto 46px auto;
	color:#a2e7ff;
	text-shadow: 1px 1px 1px #08ade5,-1px -1px 1px #08ade5;
	letter-spacing:3px;
}

.showtitle em{
	color:#ff82b1;
	text-shadow: 1px 1px 1px #ff82b1,-1px -1px 1px #ff82b1;
	font-weight:bold;
}

.showcontent{
	width:213px;
	height:162px;
	margin-bottom:35px;
}

.showcontent .font_example{
	width:100%;
	height:100%;
}

.showwords{
	width:80%;
	line-height:18px;
	text-align:center;
	font-size:0.6em;
	word-wrap:break-word;
	word-break:break-all;
	color:#a2e7ff;
	text-shadow: 1px 1px 1px #08ade5,-1px -1px 1px #08ade5;
	letter-spacing:5px;
	margin:1% auto 13% auto;
}

.showbts{
	width:260px;
	margin:0 auto;
}

.bt{
	float:left;
	width:90px;
	height:33px;
	background:url(../../images/wxdgb1508/bt_bg.png) no-repeat center top;
	background-size:90px 33px;
	line-height:33px;
	text-align:center;
	font-size:0.9em;
	color:#a2e7ff;
	text-shadow: 1px 1px 1px #08ade5,-1px -1px 1px #08ade5;
	letter-spacing:2px;
}

.bt_bglarge{
	float:left;
	width:166px;
	height:69px;
	background:url(../../images/wxdgb1508/bt_bglarge.png) no-repeat center top;
	background-size:166px 69px;
	line-height:79px;
	text-align:center;
	font-size:1em;
	color:#a2e7ff;
	text-shadow: 1px 1px 1px #08ade5,-1px -1px 1px #08ade5;
	letter-spacing:2px;
}

.marginlt{
	margin-left:3px;
	margin-top: 20px;
}

.shownote{
	width:100%;
	line-height:24px;
	font-size:0.6em;
	color:#a2e7ff;
	text-shadow: 1px 1px 1px #08ade5,-1px -1px 1px #08ade5;
	letter-spacing:2px;
	padding-left:100px;
}

/* 发射 */
.pagelaunch{
	background: url(../../images/wxdgb1508/bg_loading.jpg) no-repeat center top;
	background-size: cover;
}

.rocketdiv{
 	text-align:center;
}

.animation_shake{
	-webkit-animation-name: shake;
    animation-name: shake;
	-webkit-animation-duration: 1s;
  	animation-duration: 1s;
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
}

.animation_fly{	
	-webkit-animation: rocketfly 2s 1s both linear;
	-moz-animation: rocketfly 2s 1s both linear;
	-ms-animation: rocketfly 2s 1s both linear;
	-o-animation: rocketfly 2s 1s both linear;
	animation: rocketfly 2s 1s both linear;
}

.rocketdiv img{
	width:42.3%;
}

.showwordsf{
    margin: 7.9% auto 0 auto;
	font-size:1em;
}

/* 好友被表白 1 */
.pagegetlove, .pagedecode, .pageotherlove, .pagedecode2, .pagedecode3, .pagedecode4{
	background: url(../../images/wxdgb1508/bg_bb.jpg) no-repeat center top;
	background-size: cover;
}

.showtitle2{
	margin:26px auto 19px auto;
}

.showwords2{
	margin: -5% auto 7.8% auto;
}

/* 火星文破译 */
.showtitle3{
	font-size:1.25em;
	margin:26px auto 35px auto;
}

.showwords em{
	color:#ff82b1;
	font-size:1.8em;
	text-shadow: 1px 1px 1px #0b0205;
	font-weight:bold;
}

/* 火星文破译2 */
.displayscreen3{
	width:252px;
	height:203px;
	background:url(../../images/wxdgb1508/pic_screen3.png) no-repeat center top;
	background-size:cover;
	margin:0 auto 10px auto;
}

.fontsdiv3{
	width:80%;
	font-size:1.5em;
	text-align:center;
	line-height:30px;
	margin:0 auto;
	padding:23% 0;
	color:#a2e7ff;
	text-shadow: 1px 1px 1px #08ade5,-1px -1px 1px #08ade5;
	letter-spacing:3px;
	word-wrap:break-word;
	word-break:break-all;
}

.showwords_cn{
	margin: 1% auto;
}

/* 未解码 */
.pageuncode{
	background: url(../../images/wxdgb1508/bg3.jpg) no-repeat center top;
	background-size: cover;
}

.showtitle4{
	width:100%;
	text-align:center;
	line-height:24px;
	color:#a2e7ff;
	text-shadow: 1px 1px 1px #08ade5,-1px -1px 1px #08ade5;
	letter-spacing:3px;
	font-size:1.6em;
	margin: -30px auto 30px auto;
}

/* 已解码 */
.pagedecoded, .pagedecoded{
	background: url(../../images/wxdgb1508/bg_tt.jpg) no-repeat center top;
	background-size: cover;
}
.showtt{
	width:115px;
	height:129px;
	margin-bottom:4.6%;
}

.showtt .font_example{
	width:100%;
	height:100%;
}

.showtitle_tt{
	margin:26px auto 25px auto;
}

.showtitle_tt em{
	color:#ff82b1;
	font-size:1.5em;
	text-shadow: 1px 1px 1px #ff82b1,-1px -1px 1px #ff82b1;
	font-weight:bold;
	line-height:35px;
}

/* 券领完,已解码 */
.showtt3{
	width:76px;
	height:124px;
	margin-bottom:25%;
}

.showtt3 .font_example{
	width:100%;
	height:100%;
}

/* 分享 */
.pageshare{
	background:#000000 !important;
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
	z-index:9;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.pageshare .topline{
	z-index:10;
}

.showtt2{
	width:100%;
	margin-bottom:3.1%;
	position:relative;
	text-align:center;
}

.showtt2 .pic_tt1{
	width:36.7%;
}

.rocket_little{
	position:absolute;
	right:12.3%;
	top:-35.2%;
	width:20.9%;
}

.showwords_tt {
    margin: 0 auto;
	letter-spacing: 2px;
	font-size:0.9em;
}

@-webkit-keyframes shake{
  from, 100% {
    -webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
 	-ms-transform: translate3d(0, 0, 0);
 	-o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-2px, 0, 0);
	-moz-transform: translate3d(-2px, 0, 0);
 	-ms-transform: translate3d(-2px, 0, 0);
 	-o-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
	-moz-transform: translate3d(2px, 0, 0);
 	-ms-transform: translate3d(2px, 0, 0);
 	-o-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes shake {
  from, 100% {
    -webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
 	-ms-transform: translate3d(0, 0, 0);
 	-o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-2px, 0, 0);
	-moz-transform: translate3d(-2px, 0, 0);
 	-ms-transform: translate3d(-2px, 0, 0);
 	-o-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
	-moz-transform: translate3d(2px, 0, 0);
 	-ms-transform: translate3d(2px, 0, 0);
 	-o-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
}

@-moz-keyframes shake{
  from, 100% {
    -webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
 	-ms-transform: translate3d(0, 0, 0);
 	-o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-2px, 0, 0);
	-moz-transform: translate3d(-2px, 0, 0);
 	-ms-transform: translate3d(-2px, 0, 0);
 	-o-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
	-moz-transform: translate3d(2px, 0, 0);
 	-ms-transform: translate3d(2px, 0, 0);
 	-o-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
}


@-ms-keyframes shake{
  from, 100% {
    -webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
 	-ms-transform: translate3d(0, 0, 0);
 	-o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-2px, 0, 0);
	-moz-transform: translate3d(-2px, 0, 0);
 	-ms-transform: translate3d(-2px, 0, 0);
 	-o-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
	-moz-transform: translate3d(2px, 0, 0);
 	-ms-transform: translate3d(2px, 0, 0);
 	-o-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
}

@-o-keyframes shake{
  from, 100% {
    -webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
 	-ms-transform: translate3d(0, 0, 0);
 	-o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-2px, 0, 0);
	-moz-transform: translate3d(-2px, 0, 0);
 	-ms-transform: translate3d(-2px, 0, 0);
 	-o-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
	-moz-transform: translate3d(2px, 0, 0);
 	-ms-transform: translate3d(2px, 0, 0);
 	-o-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
}

@-webkit-keyframes rocketfly {
 0% {
 -webkit-transform: translateY(0);
 -moz-transform: translateY(0);
 -ms-transform: translateY(0);
 -o-transform: translateY(0);
 transform: translateY(0);
 opacity:1;
}
 100% {
 -webkit-transform: translateY(-500px) scale(0.5);
 -moz-transform: translateY(-200px scale(0.5));
 -ms-transform: translateY(-500px) scale(0.5);
 -o-transform: translateY(-500px) scale(0.5);
 transform: translateY(-500px) scale(0.5);
 opacity:0.2px;
}
}
@-moz-keyframes rocketfly {
 0% {
 -webkit-transform: translateY(0);
 -moz-transform: translateY(0);
 -ms-transform: translateY(0);
 -o-transform: translateY(0);
 transform: translateY(0);
 opacity:1;
}
 100% {
 -webkit-transform: translateY(-500px) scale(0.5);
 -moz-transform: translateY(-200px scale(0.5));
 -ms-transform: translateY(-500px) scale(0.5);
 -o-transform: translateY(-500px) scale(0.5);
 transform: translateY(-500px) scale(0.5);
 opacity:0.2px;
}
}
@-ms-keyframes rocketfly {
 0% {
 -webkit-transform: translateY(0);
 -moz-transform: translateY(0);
 -ms-transform: translateY(0);
 -o-transform: translateY(0);
 transform: translateY(0);
 opacity:1;
}
 100% {
  -webkit-transform: translateY(-500px) scale(0.5);
 -moz-transform: translateY(-200px scale(0.5));
 -ms-transform: translateY(-500px) scale(0.5);
 -o-transform: translateY(-500px) scale(0.5);
 transform: translateY(-500px) scale(0.5);
 opacity:0.2px;
}
}
@-o-keyframes rocketfly {
0% {
 -webkit-transform: translateY(0);
 -moz-transform: translateY(0);
 -ms-transform: translateY(0);
 -o-transform: translateY(0);
 transform: translateY(0);
 opacity:1;
}
 100% {
  -webkit-transform: translateY(-500px) scale(0.5);
 -moz-transform: translateY(-200px scale(0.5));
 -ms-transform: translateY(-500px) scale(0.5);
 -o-transform: translateY(-500px) scale(0.5);
 transform: translateY(-500px) scale(0.5);
 opacity:0.2px;
}
}
@keyframes rocketfly {
0% {
 -webkit-transform: translateY(0);
 -moz-transform: translateY(0);
 -ms-transform: translateY(0);
 -o-transform: translateY(0);
 transform: translateY(0);
 opacity:1;
}
 100% {
  -webkit-transform: translateY(-500px) scale(0.5);
 -moz-transform: translateY(-200px scale(0.5));
 -ms-transform: translateY(-500px) scale(0.5);
 -o-transform: translateY(-500px) scale(0.5);
 transform: translateY(-500px) scale(0.5);
 opacity:0.2px;
}
}

/*popup_rule page1.1*/
.rule_pop {
	background:#000000 !important;
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	display: none;
}

.popup_rule{
}
	
.rule_areas {
	background: url(../../images/wxdgb1508/bg_rule.png) no-repeat center top;
	background-size: 342px 383px;
	margin: 30% auto;
	width: 342px;
	height: 383px;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	display: box;
	box-pack: center;
	box-align: center;
	box-orient: vertical;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	position:relative;
}

.rule_areas .bt_close{
	position:absolute;
	right:0;
	top:0px;
}

.rule_areas .bt_close img{
	width:40px;
}

.rule_areas h3{
	width:100%;
	text-align:center;
	line-height:24px;
	color:#a2e7ff;
	text-shadow: 1px 1px 1px #08ade5,-1px -1px 1px #08ade5;
	letter-spacing:3px;
	font-size:3em;
	margin: 0px auto 5px auto;
	padding-top:10px;
}

.rule_cont span {
	color: #a2e7ff;
	float:left;
	display:block;
	line-height:16px;
	font-size:0.9em;
	font-weight:bold;
	margin-right:5px;
}
.rule_cont {
	margin: 0px auto;
	overflow: hidden;
	height: 278px;
	padding: 0 18px;
	-weblit-box-sizing: border-box;
	box-sizing: border-box;
}

.rule_cont .rule_block{
	margin-bottom:12px;
	line-height:16px;
	color:#a2e7ff;
	overflow:hidden;
}


.rule_cont .rule_block p{
	line-height:16px;
	color:#a2e7ff;
	display:block;
	float:left;
	position:relative;
	padding-left:12px;
	}
	
.rule_cont .rule_block p em{
	font-weight:normal !important;
	position:absolute;
	left:0;
}

.arrowdown{
	padding:5px 0 18px 0;
	margin:0 auto;
	text-align:center;
}

.arrowdown img{
	width:49px;
	height:14px;
}


@media screen and (min-width: 320px) and (max-width: 374px) {
.displayscreen{
	width:252px;
	height:234px;
}

.subtitle{
	margin: 0px auto;
    margin-bottom: 10px;
}

.screendevice{
	width:97.4%;
}

.displayscreen .fontsdiv1{
    width: 190px;
    height: 136px;
	margin:8px auto 0px auto;
}

.displayscreen .fontsdiv1 .font_example{
	width:154px;
	margin-top:10px;
}

.subjectdiv{
	width:187px;
	line-height:13px;
}

.displayscreen .btdiv .bt_preview, .displayscreen .btdiv .bt_send,.displayscreen2 .btdiv2 .bt_preview, .displayscreen2 .btdiv2 .bt_send{
	width:45px;
	height:45px;
	line-height:45px;
	-moz-border-radius:23px;
 	-webkit-border-radius:23px;
 	border-radius:23px;
}

.displayscreen .btdiv, .displayscreen2 .btdiv2{
	padding-top: 22px;
}

.displayscreen .btdiv .bt_send, .displayscreen2 .btdiv2 .bt_send{
	margin-left:40px;
}
.writebox img {
    width: 44.2%;
}

.writebox_words {
	width: 40%;
	line-height: 22px;
	top: 31px;
	left:30%;
}

.displayscreen2{
	width:252px;
	height:193px;
}

.displayscreen2 .fontsdiv2{
    width: 190px;
    height: 116px;
}

.displayscreen2 .fontsdiv2 img{
	width:23px;
	margin-top:10px;
	margin-right:8px;
}
.writebox2 img{
	width: 142px;
}

.writebox2 .writebox_words{
	top: 34px;
}

.writebox2_tip{
	left: 22%;
    top: 78px;
}

.showtitle{
	margin-top:40px;
}

.shownote {
	padding-left:81px;
}

.showbts{
	width:222px;
}

.showcontent {
    width: 213px;
    height: 162px;
}

.bt_bglarge{
	width:142px;
	height:59px;
	background-size:142px 59px;
	line-height:67px;
}

.bt{
	width:77px;
	height:28px;
	background-size:77px 28px;
	line-height:28px;
}

.showtt{
	width:135px;
	height:151px;
}

.rule_areas {
	background-size: 292px 327px;
	margin: 70px auto;
	width: 292px;
	height: 327px;
}
.rule_cont {
	height: 232px;
}
.rule_areas .bt_close img{
	width:34px;
}

}

@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3) {
.screendevice {
    width: 95%;
}

.displayscreen{
	width: 326px;
    height: 303px;
}

.displayscreen .fontsdiv1 {
    width: 245px;
    height: 175px;
}

.displayscreen .fontsdiv1 .font_example {
    width: 198px;
	margin-top: 14px;
}

.subjectdiv {
    width: 241px;
    line-height: 18px;
}

.displayscreen .btdiv .bt_preview, .displayscreen .btdiv .bt_send, .displayscreen2 .btdiv2 .bt_preview, .displayscreen2 .btdiv2 .bt_send{
	width:58px;
	height:58px;
	line-height:58px;
	-moz-border-radius:29px;
 	-webkit-border-radius:29px;
 	border-radius:29px;
}
.writebox img,  .writebox2 img{
    width: 182px;
}
.writebox_words {
	width: 172px;
    line-height: 36px;
    top: 35px;
    left: 30%;;
}

.writebox2 .writebox_words{
	top:38px;
}

.displayscreen2{
	width:326px;
	height:250px;
}

.displayscreen2 .fontsdiv2{
    width: 239px;
    height: 146px;
}

.displayscreen2 .fontsdiv2 img{
	width:29px;
	margin-top:10px;
	margin-right:8px;
}
.displayscreen2 .btdiv2 {
    padding-top: 31px;
}

.writebox_words2{
	width:57.7%;
	height:38px;
	line-height: 18px;
	top: 46px;
	left:21%;
}

.writebox2_tip{
	left: 22%;
    top: 95px;
}


.showbts{
	width:280px;
}

.shownote {
	padding-left:115px;
}

.showcontent {
    width: 213px;
    height: 162px;
}

.bt_bglarge{
	width:179px;
	height:74px;
	background-size:179px 74px;
	line-height:85px;
}

.bt{
	width:97px;
	height:35px;
	background-size:97px 35px;
	line-height:35px;
}

.showtt{
	width:145px;
	height:163px;
}
.rule_areas {
	background-size: 368px 412px;
	margin: 150px auto;
	width: 368px;
	height: 412px;
}
.rule_cont {
	height: 295px;
}
.rule_areas .bt_close img{
	width:43px;
}
}

