<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yum.kfc.brand.szz1604.dao.Szz1604DrawMapper">

    <select id="queryIsUserDraw" resultType="Long">
		select count(*) from szz1604_draw where phone=#{phone} 
	</select>
	

    
    <insert id="insert" parameterType="com.yum.kfc.brand.szz1604.pojo.Szz1604Draw">
    	INSERT INTO szz1604_draw
    		([phone],[openId],[userId],[channelType],[deviceType],[winAward],[awardType],[awardCodeId],[drawTime])
     	VALUES
     		 (#{phone},#{openId},#{userId},#{channelType},#{deviceType},#{winAward},#{awardType},#{awardCodeId},#{drawTime})
    </insert>

    
</mapper>