<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yum.kfc.brand.luh1604.dao.Luh1604OpenMapper">
	
    <insert id="insert" parameterType="com.yum.kfc.brand.luh1604.pojo.Luh1604Open">
    	<bind name= "tbl_sid" value="@com.yum.kfc.brand.common.utils.MybatisTblShardStrategy@byCRC32Mod10(#{userId})" />
    	INSERT INTO luh1604_open_${tbl_sid}
    		([id],[userId],[channelType],[deviceId],[deviceType],[token],[ipAddr],[openTime])
     	VALUES
     		 (#{id},#{userId},#{channelType},#{deviceId},#{deviceType},#{token},#{ipAddr},#{openTime})
    </insert>
	
</mapper>