<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	">

	<bean id="defaultExceptionHandler" class="com.hp.jdf.ssm.svc.ex.DefaultExceptionHandler"/>
	
	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<list>
				<value>*Service</value>
				<value>*Api</value>
			</list>
		</property>
		<property name="interceptorNames">
			<list><!-- first come, LAST serve -->
				<value>defaultExceptionHandler</value>
			</list>
		</property>
	</bean>
	
</beans>