<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yum.kfc.brand.hyjt1506.dao.Hyjt1506DrawMapper">
    
	<select id="queryDrawTimesByUser" resultType="Long">
	  SELECT count(*) FROM hyjt1506_draw with(nolock)
	   where userId=#{userId} and channelType=#{channelType} and drawTime between #{fromTime} and #{toTime}
    </select>
    
    <select id="queryIsUserWon" resultType="Long">
		select count(*) from hyjt1506_draw with(nolock) where userId=#{userId} and channelType=#{channelType} and winAward=1
	</select>
	
	<update id="saveWinAward" parameterType="com.yum.kfc.brand.hyjt1506.pojo.Hyjt1506Draw">
	   update hyjt1506_draw set phone=#{phone} where userId=#{userId} and channelType=#{channelType} and winAward=1 
    </update>
    
    <insert id="insertDraw" parameterType="com.yum.kfc.brand.hyjt1506.pojo.Hyjt1506Draw">
    	INSERT INTO hyjt1506_draw
    		([id],[userId],[openId],[channelType],[deviceType],[winAward],[awardCodeId],[ipAddr],[drawTime])
     	VALUES
     		 (#{id},#{userId},#{openId},#{channelType},#{deviceType},#{winAward},#{awardCodeId},#{ipAddr},#{drawTime})
    </insert>
    
    <select id="queryWinPhoneCount" resultType="Long">
	  	SELECT count(*) FROM hyjt1506_draw with(nolock) where phone=#{phone} and winAward=1
    </select>
    
     <select id="queryWinUsers" resultType="com.yum.kfc.brand.hyjt1506.pojo.Hyjt1506Draw">
		select * from hyjt1506_draw with(nolock) where winAward=1 order by drawTime asc
	</select>
	
	 <select id="queryWinNotPhone" resultType="Long">
		select count(*) from hyjt1506_draw with(nolock) where userId=#{userId} and winAward=1 and phone is null
	</select>
</mapper>