<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="10 seconds">
	<property name="LOG_ROOT" value="/opt/kfcjboss/standalone/log" />
	
	<property name="LOG_FILENAME" value="hpe-brandkfc-svc" />
	<property name="LOG_PATTERN" value="%date{ISO8601} %-5level [%thread] %class.%method\\(%line\\) - %msg%n" />
	<property name="LOG_MAXFILESIZE" value="2048MB" />
	
	<property name="ELK_REQ_LOG_ROOT" value="/opt/kfcjboss/standalone/log" /><!--"/opt/tmp/kbreqlogelk" /-->
	<property name="ELK_REQ_LOG_PATTERN" value="%msg%n" />
	<property name="ELK_REQ_LOG_MAXFILESIZE" value="1024MB" />
    <property name="ELK_REQ_LOG_FILENAME_WOWHY1705" value="hpe-brandkfc-wowhy1705" />
    <property name="ELK_REQ_LOG_FILENAME_DZP1711" value="hpe-brandkfc-dzp1711" />
    
	<!--define name="HOSTIP" class="com.yum.kfc.brand.api.util.LocalIpPropertyDefiner"/-->
	
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="RFA" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_ROOT}/${LOG_FILENAME}.log</file>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ROOT}/${LOG_FILENAME}.log.%d{yyyyMMdd}</fileNamePattern><!-- .%i -->
			<!--timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${LOG_MAXFILESIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy-->
		</rollingPolicy>
		
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
			<charset>utf-8</charset>
		</encoder>
	</appender>

    <appender name="REQ_RFA_WOWHY1705" class="ch.qos.logback.core.FileAppender">
        <file>${ELK_REQ_LOG_ROOT}/${ELK_REQ_LOG_FILENAME_WOWHY1705}.log</file>
        <encoder>
            <pattern>${ELK_REQ_LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>
    <appender name="REQ_RFA_DZP1711" class="ch.qos.logback.core.FileAppender">
        <file>${ELK_REQ_LOG_ROOT}/${ELK_REQ_LOG_FILENAME_DZP1711}.log</file>
        <encoder>
            <pattern>${ELK_REQ_LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <logger name="com.yum.kfc.brand" level="WARN" />
	<logger name="org.springframework" level="WARN" />
	<logger name="com.alisoft.xplatform.asf.cache" level="ERROR" />
	<logger name="com.yum.kfc.brand.api.util.MemcachedErrorHandler" level="ERROR" />
	
	<!-- avoid mybatis output debuging info -->
	<logger name="com.hp.jdf.ssm.dao" level="WARN" />
	<logger name="com.yum.kfc.brand.wowhy1705.dao" level="WARN" />
	<logger name="com.yum.kfc.brand.dzp1711.dao" level="WARN" />	

    <logger name="REQ_LOG_WOWHY1705" level="INFO" additivity="false" >
        <appender-ref ref="REQ_RFA_WOWHY1705" />
    </logger>
    <logger name="REQ_LOG_DZP1711" level="INFO" additivity="false" >
        <appender-ref ref="REQ_RFA_DZP1711" />
    </logger>


	<root level="INFO">
		<appender-ref ref="stdout" />
		<appender-ref ref="RFA" />
	</root>
</configuration>
