<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yum.kfc.brand.camp1504.dao.FooldayShareMapper">
	<insert id="insert" parameterType="com.yum.kfc.brand.camp1504.pojo.FooldayShare">
		INSERT INTO foolday_share
			([id],[openId],[userId],[channelType],[deviceType],[mediaType],[shareUrl],[shareResult],[shareTime])
		VALUES
			(#{id},#{openId},#{userId},#{channelType},#{deviceType},#{mediaType},#{shareUrl},#{shareResult},#{shareTime})
	</insert>
</mapper>