<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yum.kfc.brand.camp1504.dao.com.yum.kfc.brand.camp1504.pojo.FooldayQuestionMapper">

	<sql id="baseColumn">
		top 1 *, cast(round(yesCount*100/cast((case when yesCount+noCount+naCount=0 then 1 else yesCount+noCount+naCount end) as numeric(10,2)), 0) as int) as yesPercent,
			cast(round(noCount*100/cast((case when yesCount+noCount+naCount=0 then 1 else yesCount+noCount+naCount end) as numeric(10,2)), 0) as int) as noPercent,
			cast(round(naCount*100/cast((case when yesCount+noCount+naCount=0 then 1 else yesCount+noCount+naCount end) as numeric(10,2)), 0) as int) as naPercent
	</sql>

	<select id="getShareQuestion" resultType="com.yum.kfc.brand.camp1504.pojo.FooldayQuestion" parameterType="String">
		select <include refid="baseColumn"/> from foolday_question where id = #{questionId}
    </select>
    
      <select id="getCycleQuestion" resultType="com.yum.kfc.brand.camp1504.pojo.FooldayQuestion">
		select <include refid="baseColumn"/> from foolday_question 
		where id=(select top 1 questionId from foolday_answer where userId=#{userId} and openId=#{openId} and recycleCount=#{recycleCount} order by answerTime asc)
    </select>
    
    <select id="getRandomQuestion" resultType="com.yum.kfc.brand.camp1504.pojo.FooldayQuestion" parameterType="String">
		select <include refid="baseColumn"/> from foolday_question 
		<choose> 
			<when test="questionId != null">where id = #{questionId}</when>
			<otherwise>ORDER BY NEWID()</otherwise> 
		</choose> 
    </select>

	<select id="getRandomNotAnswerQuestion" resultType="com.yum.kfc.brand.camp1504.pojo.FooldayQuestion">
		select <include refid="baseColumn"/> from foolday_question
		where id not in(select DISTINCT questionId from foolday_answer where userId=#{userId} and openId=#{openId} and recycleCount=#{recycleCount})
		ORDER BY NEWID()
    </select>
    
	<select id="getRandomNotRightQuestion" resultType="com.yum.kfc.brand.camp1504.pojo.FooldayQuestion">
		select <include refid="baseColumn"/> from foolday_question
		where id not in(select questionId from foolday_answer where userId=#{userId} and openId=#{openId} and recycleCount=#{recycleCount} and isCorrect=1) ORDER BY NEWID()
    </select>
    
    <update id="updateQuestionTotal">
		update foolday_question set 
		<choose> 
			<when test="choice == 1">yesCount = ISNULL(yesCount, 0)+1</when>
			<when test="choice == 0">noCount = ISNULL(noCount, 0)+1</when>
			<otherwise>naCount = ISNULL(naCount, 0)+1</otherwise> 
		</choose> 
		where id = #{questionId}
	</update>
</mapper>