@charset "utf-8";
.fullimg {
	width: 100%;
	display: block;
}
.page {
	background: url(../../images/dsg1506/body.jpg) no-repeat center top;
	background-size: cover;
}
.page1 {
	background: url(../../images/dsg1506/page1.jpg) no-repeat center top;
	background-size: cover;
}
.page2 {
	background: url(../../images/dsg1506/page2.jpg) no-repeat center top;
	background-size: cover;
}
.page3 {
	background: url(../../images/dsg1506/page3.jpg) no-repeat center top;
	background-size: cover;
}
.page4 {
	background: url(../../images/dsg1506/page4.jpg) no-repeat center top;
	background-size: cover;
}
.page8 {
	background: url(../../images/dsg1506/page8.jpg) no-repeat center top;
	background-size: cover;
}
/*首页*/
.start_button {
	width: 45%;
	margin: 15px 0 0 50%;
	position: relative;
	z-index: 5;
}
.icecream {
	width: 60%;
	margin: -50px 0 0 -41%;
}
.page1 .icecream {
	width: 62%;
	margin: -40px 0 0 -35%;
	position: relative;
	z-index: 0;
}
.page1_p {
	width: 97.5%;
	margin: 0 auto;
}
/*逆袭第n步*/
.step1, .step2, .step3 {
	width: 91%;
	margin:0px auto;
	-webkit-transform: rotate(-8deg);
	-moz-transform: rotate(-8deg);
	-ms-transform: rotate(-8deg);
	-o-transform: rotate(-8deg);
	transform: rotate(-8deg);
}
.question {
	width: 91%;
	margin: 5px auto 0px;
	-webkit-transform: rotate(-8deg);
	-moz-transform: rotate(-8deg);
	-ms-transform: rotate(-8deg);
	-o-transform: rotate(-8deg);
	transform: rotate(-8deg);
}
.page4 .question {
	width: 84%;
}
.question li {
	margin: 5px 0px;
}
.question .a {
	width: 91%;
	margin: 8px auto;
}
.question .b {
	width: 90%;
	margin:8px 0 0 13%
}
.question .c {
	width: 75%;
	margin:8px 0 0 26%;
}
.question .page_p {
	width: 64%;
	margin: 0 auto;
	margin-left: 30%;
}
.page5 .page_p {
	width: 68%;
	margin: 0 auto;
}
.page6 .page_p {
	width: 47%;
	margin: 0 auto;
}
.page7 .page_p {
	width: 70%;
	margin: 0 auto;
}
.ticket {
	width: 80%;
	margin: -35px auto 0;
}
.pimg {
	width: 75%;
	margin: 10px auto;
}
.save_button {
	width: 38%;
	margin: 0 auto;
}
.show_button {
	width: 30%;
	margin: 10px auto;
}
.page8 .save_weixin {
	width: 48%;
	margin: 15px auto;
}
.page8 .close_button {
	width: 15%;
	margin: 0 auto;
}
.page_moblie {
  background: url(../../images/dsg1506/moblie.jpg) no-repeat center top;
  background-size: cover;
  max-width: 500px;
}
.scan {
  width: 70%;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
}
.scan_p {
  width: 90%;
  margin: 0 auto;
}
.page_web .logo {
  background: url(../../images/dsg1506/logo.png) no-repeat center center;
  background-size: 100%;
  width: 114px;
  height: 115px;
  position: absolute;
  top: 25px;
  left: 25px;
}
.page_web {
  background: url(../../images/dsg1506/web.jpg) no-repeat center top;
  background-size: cover;
}
.page_web .area {
  width: 900px;
  margin: 0 auto;
  padding: 215px 0 0;
}
.page_web .area dt, .page_web .area dd {
  float: left;
  margin: 20px 10px;
}
.page_web .area dt {
  margin-top: 100px;
}
.rule_pop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	display: none;
}
.rule_pop .close_icon {
	background: url(../../images/dsg1506/close.png) no-repeat center bottom;
	width: 55px;
	height: 45px;
	background-size: 25px;
	float: right;
}
.rule_areas {
	background: url(../../images/dsg1506/rule.png) no-repeat center top;
	background-size: 280px 330px;
	margin: 45px auto;
	width: 280px;
	height: 330px;
	display: -webkit-box;
	display: box;
	-webkit-box-align: center;
	box-align: center;
	-webkit-box-pack: center;
	-box-pack: center;
	-webkit-box-orient: vertical;
	box-orient: vertical;
}
.rule_cont span {
	color: #fff100;
}
.rule_cont {
	margin: 20px auto 0;
	overflow-y: auto;
	width: 95%;
	height: 273px;
	padding: 0 20px 10px;
	-weblit-box-sizing: border-box;
	box-sizing: border-box;
	color:#fff;
	font-size:14px;
}
/*320px显示屏样式 苹果4/4S/5C/5S黑莓Z30*/
@media screen and ( min-width:319px) {
.rule_areas {
	width: 250px;
	height: 330px;
	background: url(../../images/dsg1506/rule.png) no-repeat center top;
	background-size: 250px 330px;
}
.rule_cont {
	height: 273px;
}
;
}
/*360px显示屏样式 索尼Z1*/
@media screen and ( min-width:359px) {
.rule_areas {
	width: 320px;
	height: 457px;
	background: url(../../images/dsg1506/rule.png) no-repeat center top;
	background-size: 320px 457px;
}
.rule_cont {
	height: 380px;
}
;
}
/*384px显示屏样式 黑莓Z10 谷歌 Nexus 6 LG Optimus G*/
@media screen and ( min-width:383px) {
.rule_areas {
	width: 320px;
	height: 457px;
	background: url(../../images/dsg1506/rule.png) no-repeat center top;
	background-size: 320px 457px;
}
.rule_cont {
	height: 380px;
}
;
}
/*399px显示屏样式 三星galaxyNote*/
@media screen and ( min-width:399px) {
.rule_areas {
	width: 320px;
	height: 457px;
	background: url(../../images/dsg1506/rule.png) no-repeat center top;
	background-size: 320px 457px;
}
.rule_cont {
	height: 380px;
}
;
}
/*414px显示屏样式 苹果6plus*/
@media screen and ( min-width:414px) {
.rule_areas {
	width: 350px;
	height: 500px;
	background: url(../../images/dsg1506/rule.png) no-repeat center top;
	background-size: 350px 500px;
}
.rule_cont {
	height: 410px;
}
;
}
/*424px显示屏样式 LG 4X*/
@media screen and ( min-width:423px) {
.rule_areas {
	width: 350px;
	height: 500px;
	background: url(../../images/dsg1506/rule.png) no-repeat center top;
	background-size: 350px 500px;
}
.rule_cont {
	height: 410px;
}
;
}
/*480px显示屏样式 索尼MT27i Xperia sola*/
@media screen and ( min-width:479px) {
.rule_areas {
	width: 350px;
	height: 500px;
	background: url(../../images/dsg1506/rule.png) no-repeat center top;
	background-size: 350px 500px;
}
.rule_cont {
	height: 410px;
}
;
}
/*640px显示屏样式 摩托罗拉Droid3/4/Razr Atrix 4g*/
@media screen and ( min-width:539px) {
.rule_areas {
	width: 350px;
	height: 500px;
	background: url(../../images/dsg1506/rule.png) no-repeat center top;
	background-size: 350px 500px;
}
.rule_cont {
	height: 410px;
}
;
}
/*640px显示屏样式*/
@media screen and ( min-width:639px) {
.rule_areas {
	width: 350px;
	height: 500px;
	background: url(../../images/dsg1506/rule.png) no-repeat center top;
	background-size: 350px 500px;
}
.rule_cont {
	height: 410px;
}
;
}
/*640px以上显示屏样式*/
@media screen and ( min-width:640px) {
.rule_areas {
	width: 350px;
	height: 500px;
	background: url(../../images/dsg1506/rule.png) no-repeat center top;
	background-size: 350px 500px;
}
.rule_cont {
	height: 410px;
}
;
}
