<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yum.kfc.brand.camp1505.dao.Camp1505ShareMapper">
	<insert id="insert" parameterType="com.yum.kfc.brand.camp1505.pojo.Camp1505Share">
		INSERT INTO camp1505_share
			([id],[openId],[userId],[channelType],[deviceType],[mediaType],[shareUrl],[shareResult],[tasteOption],[otherContent],[tagContent],[shareTime])
		VALUES
			(#{id},#{openId},#{userId},#{channelType},#{deviceType},#{mediaType},#{shareUrl},#{shareResult},#{tasteOption},#{otherContent},#{tagContent},#{shareTime})
	</insert>
	
	<select id="getTagContent" parameterType="String" resultType="String">
		select tagContent from camp1505_share where id=#{shareId}
    </select>
</mapper>