<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yum.kfc.brand.gkslz1606.dao.Gkslz1606ShareMapper">
	<insert id="insert" parameterType="com.yum.kfc.brand.gkslz1606.pojo.Gkslz1606Share">
		INSERT INTO gkslz1606_share
			([id],[sid],[openId],[channelType],[deviceId],[deviceType],[mediaType],[shareResult],[shareUrl],[ipAddr],[shareTime])
		VALUES
			(#{id},#{sid},#{openId},#{channelType},#{deviceId},#{deviceType},#{mediaType},#{shareResult},#{shareUrl},#{ipAddr},#{shareTime})
	</insert>
</mapper>