<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yum.kfc.brand.xrbj1506.dao.Xrbj1506UserMapper">
	<insert id="insert" parameterType="com.yum.kfc.brand.xrbj1506.pojo.Xrbj1506User">
		INSERT INTO xrbj1506_user ([userId],[nickName],[sex],[province],[city]) VALUES (#{userId},#{nickName},#{sex},#{province},#{city})
	</insert>
	
	<select id="getNickName" parameterType="String" resultType="String">
		select top 1 nickName from xrbj1506_user with(nolock) where userId=#{userId}
    </select>
    
    <select id="getUserCount" parameterType="String" resultType="int">
		select count(*) from xrbj1506_user with(nolock) where userId=#{userId}
    </select>
</mapper>