<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yum.kfc.brand.xrbj1506.dao.Xrbj1506AskMapper">
	<insert id="insert" parameterType="com.yum.kfc.brand.xrbj1506.pojo.Xrbj1506Ask">
		INSERT INTO xrbj1506_ask
			([id],[openId],[userId],[channelType],[deviceType],[askType],[menuType],[tagContent],[askTime])
		VALUES
			(#{id},#{openId},#{userId},#{channelType},#{deviceType},#{askType},#{menuType},#{tagContent},#{askTime})
	</insert>
	
	<select id="getTagContent" parameterType="String" resultType="String">
		select tagContent from xrbj1506_ask with(nolock) where id=#{askId}
    </select>
</mapper>