<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yum.kfc.brand.xrbj1506.dao.Xrbj1506ShareMapper">
	<insert id="insert" parameterType="com.yum.kfc.brand.xrbj1506.pojo.Xrbj1506Share">
		INSERT INTO xrbj1506_share
			([id],[openId],[userId],[channelType],[deviceType],[mediaType],[shareUrl],[shareResult],[shareTime])
		VALUES
			(#{id},#{openId},#{userId},#{channelType},#{deviceType},#{mediaType},#{shareUrl},#{shareResult},#{shareTime})
	</insert>
	
</mapper>