<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yum.kfc.brand.wowhy1705.dao.Wowhy1705DrawMapper">
	
	<insert id="saveDraw" parameterType="com.yum.kfc.brand.wowhy1705.pojo.Wowhy1705Draw">
		<bind name= "tbl_sid" value="@com.yum.kfc.brand.common.utils.MybatisTblShardStrategy@byLastDigitOrLenMod10(#{ssoUserId})" />
		INSERT INTO wowhy1705_draw_${tbl_sid}
			([orderId],[userId],[ssoUserId],[crmUserCode],[phone],[channelType],[deviceType],[winAward],[awardType],[awardCodeId],[ipAddr],[drawTime],[awardName],[awardLevel],[winImg],[personalImg],[isFree],[couponType])
		VALUES
			(#{orderId},#{userId},#{ssoUserId},#{crmUserCode},#{phone},#{channelType},#{deviceType},#{winAward},#{awardType},#{awardCode},#{ipAddr},#{drawTime},#{awardName},#{awardLevel},#{winImg},#{personalImg},#{isFree},#{couponType})
	</insert>

    <select id="getUserDrawCount" resultType="long">
    	<bind name= "tbl_sid" value="@com.yum.kfc.brand.common.utils.MybatisTblShardStrategy@byLastDigitOrLenMod10(#{ssoUserId})" />
		select count(*) from wowhy1705_draw_${tbl_sid} with(nolock)
    		where ssoUserId=#{ssoUserId}
    		<if test="beginTime!=null"> and drawTime>=#{beginTime} and #{endTime}>=drawTime</if>
	</select>
	
	<select id="getUserAwardWinCount" resultType="long">
    	<bind name= "tbl_sid" value="@com.yum.kfc.brand.common.utils.MybatisTblShardStrategy@byLastDigitOrLenMod10(#{ssoUserId})" />
		select count(*) from wowhy1705_draw_${tbl_sid} with(nolock)
    		where ssoUserId=#{ssoUserId} and awardType=#{awardType}
	</select>
	
	<select id="getUserDrawRecord" resultType="com.yum.kfc.brand.wowhy1705.pojo.Wowhy1705Draw">
    	<bind name= "tbl_sid" value="@com.yum.kfc.brand.common.utils.MybatisTblShardStrategy@byLastDigitOrLenMod10(#{ssoUserId})" />
		select * from wowhy1705_draw_${tbl_sid} with(nolock)
    		where ssoUserId=#{ssoUserId} order by drawTime desc
	</select>
    
</mapper>