<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yum.kfc.brand.bjmls1609.dao.Bjmls1609AttendMapper">
	<insert id="insert" parameterType="com.yum.kfc.brand.bjmls1609.pojo.Bjmls1609Attend">
		INSERT INTO bjmls1609_attend
			([id],[sid],[userId],[openId],[channelType],[deviceId],[deviceType],[ipAddr],[attendTime],[tags])
		VALUES
			(#{id},#{sid},#{userId},#{openId},#{channelType},#{deviceId},#{deviceType},#{ipAddr},#{attendTime},#{tags})
	</insert>
	
	<select id="queryIsUserAttend" resultType="Long">
		select count(*) from bjmls1609_attend with(nolock) where userId=#{userId} 
	</select>
</mapper>