@charset "utf-8";
/* CSS Document */
/*slogan 愚乐鸡密知多少*/
.know_how_much{ background:url(../../images/camp1504/loading.png) no-repeat center center; background-size:100% auto; width:250px; height:183px; margin:80px auto;}
.load_bar{ color:#3f96be; font-size:30px; width:100px; height:55px; float:right; text-align:center; line-height:55px;}
.slogan_p{width:80%; margin:0 auto;}
.slogan_p img{ width:100%;}
/**Reliable 靠谱不靠谱**/
.Cloud{ background:url(../../images/camp1504/Cloud.png) no-repeat center 122px; background-size:contain;}
.chinaStyle,.duckStyle,.changeStyle{min-width:320px;padding:0 1em; box-sizing:border-box;-webkit-box-sizing:border-box;position:relative; margin:0px auto; text-align:center;}
.img{ width:84%;padding:0 1em; margin:0 auto;}
.img img{max-width:100%;}
.question_mark{ position:absolute;top:0;right:0; background:url(../../images/camp1504/why.png) no-repeat center top; background-size:100% auto;width:13%;height:100%; top:10px;right:11%;}
.arrow_reward{background:url(../../images/camp1504/arrow_r.png) no-repeat 69% bottom; background-size:90px auto;width:90px; height:51px; margin:0 auto; position:absolute; bottom:-10px;right:15%;}
.percentage dl{padding:0 1em; margin:10px auto;}
.percentage dt,.percentage dd{ float:left; width:50%;text-align:center;}
.percentage dl p{ color:#d34738; font-size:44px; font-weight:bold; text-align:center; font-family:"hychengxingjregular"; line-height:34px;}
.percentage sup{ font-size:24px;}
.tuotuo dt p{width:83px; height:47px;padding-left:35px;}
.cdz dd p{width:70px; height:45px;padding-left: 40px;}
.nochoose dt p{width:70px; height:49px;padding-left:40px;}
#pages1 .page .cdz dd img,#pages1 .page .nochoose dt img,#pages1 .page .tuotuo dt img,#pages3 .page .change_p dt img,#pages3 .page .change_p1 dd img,#pages3 .page .change_p2 dt img{width:70%;}
#pages1 .page .nochoose dd img{width:120px; height:63px;}
.tuotuo dt{ background:url(../../images/camp1504/arrow_t.png) no-repeat 93% bottom; background-size:32px auto;}
.cdz dd{ background:url(../../images/camp1504/arrow_l.png) no-repeat 3% bottom;background-size:32px auto;}
.nochoose dt{ background:url(../../images/camp1504/arrow_t.png) no-repeat 93% bottom;background-size:32px auto;}
.tips{ background:url(../../images/camp1504/tips.png) no-repeat center center; background-size:auto 20px; height:20px;}
.tip{ background:url(../../images/camp1504/tip.png) no-repeat center center; background-size:auto 20px; height:20px;}
.Button{display:-webkit-box;display:box;width:250px; margin:0px auto;}
.Button li{-webkit-box-flex:1.0;box-flex:1.0;}
.kaopu{ background:url(../../images/camp1504/kaopuBtn.png) no-repeat center center; background-size:78px 45px;width:78px; height:45px;}
.bukaopu{ background:url(../../images/camp1504/bukaopuBtn.png) no-repeat center center; background-size:90px 44px; width:90px; height:44px;}
.see_pic{width:100%; height:100%; margin:0 auto; text-align:center;}
.see_pic img{ width:100%;}
.rewardBtn{ background:url(../../images/camp1504/rewardBtn.png) no-repeat center center; background-size:117px 51px; width:117px; height:51px;margin:8px 50px;}
.coinsbg{ position:absolute; left:50%; bottom:0px;margin:0 0 0 -105px; width:210px; height:90px;}
.area{padding:0 1em;}
.set_meal{width: 70%;background:url(../../images/camp1504/bgk.png) no-repeat right top; background-size:100% auto; margin:0 auto; position:relative;}
.set_meal img{width:98%;}
.set_meal .arrow{ background:url(../../images/camp1504/arrow_lb.png) no-repeat; background-size:23px 23px;width:23px; height:23px; position:absolute; left:110px; bottom:-25px;}
.word{width:100%; margin:25px auto 0;}
.word img{ width:100%;}
.word_click,.word_double{ margin:0px auto; position:relative;}
.word_click{ width:60%;}
.word_double{width:67%;}
.click_share{ width:77%;margin:0px auto;padding:10px 0 0px;background:url(../../images/camp1504/arrow_bm.png) no-repeat 18px top; background-size:51px 24px;}
.click_share img,.isYou img,.guys_xm img,.reward_more img,.Says_to_do img,.Morph img{ width:100%;}
.area .Button{ margin:0 auto;}
.once_againRed {
  background: url(../../images/camp1504/againBtn_red.png) no-repeat center center;
  background-size: 93px 45px;
  width: 93px;
  height: 45px;
}
.unbelief{ background:url(../../images/camp1504/arrow_bottom.png) no-repeat left 10px; background-size:70px 53px; position: absolute;left: 50%;bottom:90px;margin: 0 0 0 -135px;width: 225px;height:100px; padding-left:20px;}
.share_Btn,.refuse_Btn{width:124px; height:43px; margin:5px auto;}
.share_Btn{ background:url(../../images/camp1504/shareguysBtn.png) no-repeat center center; background-size:124px 43px;}
.refuse_Btn{ background:url(../../images/camp1504/againBtn_blue1.png) no-repeat center center;background-size:124px 43px;}
.isYou{ width:60%; margin:20px auto 5px; background:url(../../images/camp1504/arrow_bm.png) no-repeat 20px bottom; background-size:51px 24px;padding:0px 0 20px 10px;}
.formText input{border:0; width:180px;height:38px;line-height:38px;margin:0 auto;background:url(../../images/camp1504/placeholder.png) no-repeat center center; background-size:117px 15px;background-color: transparent;}
.formText{ width:180px; height:38px; background:url(../../images/camp1504/input.png) no-repeat center center; background-size:100% auto; margin:0 auto 20px; position:relative;}
.placeholder{ display:block; background:url(../../images/camp1504/placeholder.png) no-repeat center center; background-size:117px auto; width:117px; height:15px; position:absolute; top:8px; left:10px;}
.submitBtn{ background:url(../../images/camp1504/submitBtn.png) no-repeat center center;background-size:90px auto; width:90px; height:44px;}
.overlay{ width:100%; height:100%; background:rgba(0,0,0,.8); position:absolute; top:0; left:0; bottom:0;right:0; z-index:8; display:none;}
.pop_up{width:290px; height:300px;position:absolute; top:50%; left:50%; margin:-150px 0 0 -145px; z-index:10; display:none;}
.content{ width:100%; height:100%; position:relative; margin:0 auto;}
.close{ background:url(../../images/camp1504/close.png) no-repeat center center; width:20px; height:23px; background-size:20px 23px; position:absolute; top:0;right:0;}
.friendBtn,.againBtn_blue{ margin:0px auto; padding:70px 0 0px; position:relative; z-index:10;}
.friendBtn{ background:url(../../images/camp1504/showBtn.png) no-repeat center center; width:144px; height:50px; background-size:100% auto;}
.againBtn_blue{ background:url(../../images/camp1504/againBtn_blue.png) no-repeat center center; width:144px; height:50px; background-size:100% auto;}
.guys_xm{ width:90px; height:45px; position:absolute; top:-10px; left:40px;}
.reward_more{ width:145px; height:30px; position:absolute;top:110px;right: 40px;}
.coin_l{ background:url(../../images/camp1504/coin.png) no-repeat; width:24px; height:20px; background-size:24px 20px; position:absolute;top:50px;left:35px;}
.coin_r{ background:url(../../images/camp1504/coins.png) no-repeat; width:32px; height:25px; background-size:32px 25px; position:absolute;bottom:135px;right:24px;}
.coin_r1{ background:url(../../images/camp1504/coins.png) no-repeat; width:32px; height:25px; background-size:32px 25px; position:absolute;bottom:-43px;right:178px;}
.Coupon_kfc{ background:url(../../images/camp1504/kfcbg.jpg) no-repeat center top; background-size:cover;}
.coupnTransforms{width:100%;  min-height: 400px;position:relative;}
.coupnTransform{ width:90%; min-height:160px;margin:1em auto; position:relative;clear: both;}
.magic{width:46%;position:absolute; top:0; left:5px;}
.magic_one{ z-index:10;}
.magic .quan{background:url(../../images/camp1504/bgk_two.png) no-repeat right top; background-size:100% auto;position:relative;z-index:1;}
.magic img{ width:97%;}
.magic_Copy{ left:54%;}
.arrow_down{width:6px; height:24px;margin:0 auto;}
.magic p{/* position:absolute; left:50%; margin:30px 0 0 -41px; */margin: 0 auto;width: 78%;}
.magic p img{width:90%;}
.Says_to_do{ width:90%;margin:0px auto;min-height: 200px;}
.todo{width:78%;margin:0px auto;}
.todo img{width:100%;}
.againBtn_red{ background:url(../../images/camp1504/againBtn_red.png) no-repeat; width:103px; height:50px; background-size:103px 50px;padding-right:15px; margin:-10px auto;}
.magic_one .arrow_down{ animation-delay:.5s;-webkit-animation-delay:.5s;}
.Donot_believeBtn {
  background: url(../../images/camp1504/Donot_believeBtn.png) no-repeat center center;
  background-size: 90px 44px;
  width: 90px;
  height: 44px;
}
.believeBtn {
  background: url(../../images/camp1504/believeBtn.png) no-repeat center center;
  background-size: 78px 45px;
  width: 78px;
  height: 45px;
}
.duck_p dt,.duck_p1 dt,.duck_p2 dt{ background:url(../../images/camp1504/arrow_t.png) no-repeat right bottom; background-size:32px auto;}
.duck_p dt,.duck_p2 dt{background-position: 95% center;}
.duck_p dt p,.duck_p1 dt p,.duck_p2 dt p{ height:40px;padding:0 10px 0 45px;}
.duck_p dd{ text-align:left;}
.duck_p1 dt{width:30%;}
.duck_p1 dt p{padding:0px;}
.duck_p1 dd{width:70%;}
#pages2 .page .duck_p dt img,#pages2 .page .duck_p2 dt img{width:60%}
#pages2 .page .duck_p1 dt img{width:80%}
.bingo{ width:95%; margin:0 auto;}
.duck_word{ width:50%; margin:0 auto;}
.bingo img{ width:100%;}
.duck_bj{ background:url(../../images/camp1504/arrow_r.png) no-repeat 87% bottom; background-size:53px 40px;padding: 0 0px 35px 0px; width:100%; margin:0 auto;}
.bingo .rewardBtn{ margin:0 auto;}
.duck_realy{ width:76%; margin:0 auto;}
.bingo .share,.duck_reward{margin:-30px 0px;height:125px;}
#pages3 .page .changeStyle .img{ width:70%; margin:0;}
.Donot_believeBtn1{ background:url(../../images/camp1504/Donot_believeBtn1.png) no-repeat center center;background-size:92px 45px;width:92px;height: 45px;}
.change_p dt{ width:40%; background:url(../../images/camp1504/arrow_t.png) no-repeat 85% bottom; background-size:25px auto;}
.change_p dd,.change_p2 dd { width:60%;}
.change_p1 dd{ background:url(../../images/camp1504/arrow_l.png) no-repeat left bottom; background-size:25px auto; }
.change_p2 dt{width:40%; background:url(../../images/camp1504/arrow_t.png) no-repeat 80% bottom; background-size:25px auto;}
#pages3 .page .change_p dt img{width:90%}
#pages3 .page .change_p1 dd img,#pages3 .page .change_p2 dt img{width: 60%;}
.morph_word{ width:55%; margin:0 auto;}
.morph_bj{ background:url(../../images/camp1504/arrow_left.png) no-repeat left bottom; background-size:36px 32px;padding: 0 0px 30px 0px; width:80%; margin:0 auto;}
.morph_reward{margin:-30px auto;height:105px;display:-webkit-box;display:box;width:100%;}
.morph_reward div{-webkit-box-flex:1.0;box-flex:1.0;}
.Morph .share{margin:-37px 0px;height:135px;}
.Masking{ width:100%; height:100%; position:absolute; top:0; left:0; z-index:10; display:none; }
.popup{ background:url(../../images/camp1504/overlay.png) no-repeat center top; background-size:100% auto; color:#8a8a8a; font-family:'hychengxingjregular'; width:300px; height:356px;position: absolute;top: 50%;left: 50%;margin: -178px 0 0 -150px;z-index: 100;}
.container{padding:0em 1.5em 2em;box-sizing: border-box;-webkit-box-sizing:border-box;font-size:12px; display:none;}
.container .count{ height:200px; font-weight:bold;overflow:auto;-webkit-overflow-scrolling: touch;}
.container dl{padding:3px 0;}
.container dt{ float:left; width:65px; color:#3f96be; text-align:right;}
.container dd{ float:left; width:190px;text-align: justify;}
.container dd li{ background:url(../../images/camp1504/point.png) no-repeat left 10px; background-size:2px 2px; padding-left:10px;}
.blue{color:#3f96be;}
.youknow li{padding: 0px 0px 5px 0px;}
.arrow_tip {background: url(../../images/camp1504/arrow_tip.png) no-repeat center top;width:44px;height:34px;background-size:27px 20px;left: 50%;margin:0px 0 0 -3px;  position: absolute;}
.phone_num dt{ width:100%; float:none; text-align:center;}
.phone_num dd{ float:none; width:100%;}
.phone_num dd li{box-sizing: border-box;-webkit-box-sizing:border-box; background:none; padding:5px; float:left; width:50%; float:left;}
.logo{ background:url(../../images/camp1504/logo.png) no-repeat center center; background-size:38px; width:62px; height:50px; position:absolute; top:0 ; left:0; z-index:12;}
.activity_ruleBtn{ background:url(../../images/camp1504/rule.png) no-repeat; background-size:100px 62px;width:100px; height:31px;}
.activity_nameBtn{ background:url(../../images/camp1504/namelist.png) no-repeat; background-size:100px 62px; width:100px; height:31px;}
.activity_ruleBtn.now,.activity_nameBtn.now{background-position: 0px -31px;}
.popup .Button{padding:6.5em 0px 0px;width:200px;}
.share_tip{width:100%; height:100%; position:absolute; top:0; left:0; z-index:10;background:url(../../images/camp1504/sharestep.png) no-repeat center 10px; background-size:90%;display:none;}
.share_tip2{width:100%; height:100%; position:absolute; top:0; left:0; z-index:10;background:url(../../images/camp1504/sharestep.png) no-repeat center 10px; background-size:90%;display:none;}
.share_showtip{width:100%; height:100%; position:absolute; top:0; left:0; z-index:10;background:url(../../images/camp1504/show.png) no-repeat center 100px; background-size:90%;display:none;}

.arrowB{position:absolute;bottom:.1rem;height: 40px;background:url(../../images/camp1504/amdown.png) center no-repeat;background-size:contain;text-align:center;width:100%;display:none;z-index:998;-webkit-animation-name:shakeB;-webkit-animation-duration:3s;-webkit-animation-iteration-count:infinite}
.arrowT{position:absolute;top:.1rem;height:20px;background:url(../../images/camp1504/amup.png) center no-repeat;background-size:contain;text-align:center;width:100%;display:none;z-index:999;-webkit-animation-name:shakeT;-webkit-animation-duration:3s;-webkit-animation-iteration-count:infinite}

.pop {
  background: rgba(47,47,47,0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
  top:0;left:0;
}
.coupons_popUpBox {
  width:100%;
  height: auto;
  margin: 120px auto;
  position: relative;
}
.coupons_popUpBox .popUpBoxImg {
  width:100%;
}
.coupons_popUpBox .popUpBoxImg img {
  width:100%;
  display: block;
}
.coupons_popUpBox .close_popimg {
  width: 22px;
  height: 30px;
  background: url(../../images/camp1504/icon_close.png) no-repeat center center;
  background-size: 25px 25px;
  position: absolute;
  right: 0;
  top: -30px;
  overflow: hidden;
}
