<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yum.kfc.brand.dsg1506.dao.Dsg1506AskMapper">
	<insert id="insert" parameterType="com.yum.kfc.brand.dsg1506.pojo.Dsg1506Ask">
		INSERT INTO dsg1506_ask
			([id],[openId],[userId],[channelType],[deviceType],[firstSelect],[secondSelect],[thirdSelect],[result],[askTime])
		VALUES
			(#{id},#{openId},#{userId},#{channelType},#{deviceType},#{firstSelect},#{secondSelect},#{thirdSelect},#{result},#{askTime})
	</insert>
	
</mapper>