<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yum.kfc.brand.wxdgb1508.dao.Wxdgb1508ShareMapper">
	<insert id="insert" parameterType="com.yum.kfc.brand.wxdgb1508.pojo.Wxdgb1508Share">
		INSERT INTO wxdgb1508_share
			([id],[openId],[userId],[channelType],[deviceType],[mediaType],[shareUrl],[shareResult],[shareTime])
		VALUES
			(#{id},#{openId},#{userId},#{channelType},#{deviceType},#{mediaType},#{shareUrl},#{shareResult},#{shareTime})
	</insert>
	
	<select id="isSendLove" parameterType="String" resultType="long">
		select count(*) from wxdgb1508_share with(nolock) where userId=#{userId}
    </select>
	
</mapper>