<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yum.kfc.brand.wxdgb1508.dao.Wxdgb1508UserMapper">
	<insert id="insert" parameterType="com.yum.kfc.brand.wxdgb1508.pojo.Wxdgb1508User">
		INSERT INTO wxdgb1508_user ([userId],[nickName],[sex],[province],[city],[firstTime]) 
		VALUES (#{userId},#{nickName},#{sex},#{province},#{city}, #{firstTime})
	</insert>
	
	<select id="getNickName" parameterType="String" resultType="String">
		select top 1 nickName from wxdgb1508_user with(nolock) where userId=#{userId}
    </select>
    
    <select id="getUserCount" parameterType="String" resultType="int">
		select count(*) from wxdgb1508_user with(nolock) where userId=#{userId}
    </select>

    <select id="getAddCouponUserList" resultType="com.yum.kfc.brand.wxdgb1508.pojo.Wxdgb1508User">
		select * from wxdgb1508_addcoupon with(nolock)
    </select>
    
    <select id="getMissCouponUserList" resultType="String">
		select distinct userid from wxdgb1508_open where userid not in(select c.userId from wxdgb1508_coupon c) 
			and userid in(select s.userId from wxdgb1508_share s) and userid in(select o.inviterId from wxdgb1508_open o)
    </select>
</mapper>